	<div id="mySidenav2" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
		 <%= form_with(model: @admin, id: 'expenseForm_2', method: :patch, local: true) do |form| %>
    
  <div class="form-group">
    <%= form.label :first_name, "First Name:" %>
    <%= form.text_field :first_name, class: "form-control", id: "expense_fname_2", placeholder: "Enter First Name" %>
  </div>
  <div class="form-group">
    <%= form.label :last_name, "Last Name:" %>
    <%= form.text_field :last_name, class: "form-control", id: "expense_lname_2", placeholder: "Enter Last Name" %>
  </div>
 

  <div class="form-group">
     <%= form.label :email, raw('<span class="required">*</span> Email'), class: "form-label" %>
    <%= form.email_field :email, class: "input-field", id: "inputEmail" %>
  </div>
  <div class="form-group">
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password, class: "form-control", id: "expense_pass_2", placeholder: "Enter Password" %>
  </div>
  <div class="form-group">
    <%= form.label :role %>
    <%= form.select :role, ['Account Owner', 'Super Admin', 'Manager', 'Employee' , 'Create Only', 'Read Only'],{  prompt: "Select role" }, {id: "expense_role_2",class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :branch %>
    <%= form.select :branch, ['Main'],{ prompt: "Select branch" }, { id: "expense_branch_2", class: "form-control"} %>
  </div>
    <div class="form-group">
  <p>
    <%= form.label :enabled, "Enabled:" %>
 
   <label class="toggleSwitch nolabel" onclick="">
        
         <%= form.check_box :enabled, id: "expense_ena_2" ,class: "toggle-checkbox"%>
        <span>
            <span> &nbsp;X</span>
            <span>&#10003;</span>
        </span>
        <a></a>
    </label>
    </p>
    </div>
  <%= form.submit "Update Admin",id: "edit_expsubmit_2" , class: "btn btn-primary" %>
<% end %>

		</div>

